/* Essential Style */
.custom-select {
    display: inline-block;
    position: relative;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;

    &:after {
        /* Custom dropdown Arrow */
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        margin: auto;
    }

    select {
        width: 120%;
        width: e("calc(100% + 15px)");
        position: relative;
        z-index: 10;
        background: none;
        border: 0;

        &:not(*:root) {
            /* Select only webkit browsers */
            -webkit-appearance: none;
            width: 100%;
        }
    }
}

/* BE PRETTY ! */
.custom-select {
    @caretWidth: 10px;
    @caretHeight: 5px;
    @caretColor: color('#a2a2a2');

    border: 1px solid @caretColor;

    select {
        padding: 7px @caretWidth 7px 5px;

        /* The following is specific style for the placeholder and works only if the select is required */
        &:required:invalid {
            color: gray;
        }
    }

    &:after {
        content: "";
        width: 0;
        height: 0;
        right: 5px;
        border-left: (@caretWidth/ 2) solid transparent;
        border-right: (@caretWidth / 2) solid transparent;
        border-top: @caretHeight solid;
        color: @caretColor;
    }
}
